*, *:after, *:before {
    box-sizing: border-box;
    font-family: roboto
}

body {
    background: #eee;
    display: flex;
    background-image: linear-gradient(to right, #03151F, #042E3C);
}
.logo {
    position: absolute;
    left: 83%;
    top: 80%;
}

.logo2 {
    position: absolute;
    left: 67%;
    top: 83%;
}

.fabrik {
    position: absolute;
    left: 5%;
    top: 80%;
}

.fabrik2 {
    position: absolute;
    left: 11%;
    top: 80%;
}

.fabrik3 {
    position: absolute;
    left: 17%;
    top: 80%;
}

.fabrik4 {
    position: absolute;
    left: 23%;
    top: 80%;
}

.fabrik5 {
    position: absolute;
    left: 29%;
    top: 80%;
}

.rfid {
    width: 150px;
    height: 150px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #000;
    position: fixed;
    left: 45%;
    top: 75%;
}


.multigraph {
    width: 300px;
    height: 120px;
    position: absolute;
    top: 90%;
    left: 50%;
    margin: -150px;
}

    .multigraph:before {
        content: '';
        width: 300px;
        height: 150px;
        position: absolute;
        border: 30px solid rgba(0,0,0,0.1);
        border-radius: 300px 300px 0 0;
        border-bottom: none;
    }

.tooltip {
    width: 80px;
    height: 30px;
    background: white;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
    color: #000;
    border: 1px solid white;
    position: absolute;
    left: 50%;
    bottom: -40px;
    margin: -40px;
    transition: all 300ms ease-in-out;
    box-shadow: 0 0 5px grey;
    opacity: 0;
    transform: scale(.1);
    color: white;
}






.multigraph:hover .tooltip {
    bottom: 75%;
    opacity: .8;
    transform: scale(1);
}

.graph {
    color: white;
    width: 300px;
    height: 150px;
    position: absolute;
    overflow: hidden;
}

    .graph:before, .graph:after {
        width: 300px;
        height: 150px;
        position: absolute;
        top: 100%;
        border: 30px solid #fff;
        content: '';
        border-radius: 0 0 300px 300px;
        border-top: none;
        animation: demo 3s;
        transform-origin: center top;
    }

    .graph:after {
        transform: rotate(150deg);
    }

@keyframes demo {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }
}
